* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu';
}

/* CABEÇALHO */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
    width: 100%;
    padding: 1rem 3rem;
    background-color: #2E948A;

}


/* PRIMEIRA SEÇÃO CONTEÚDO */
.flexcontainer {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.banner1 {
    margin-top: 135px;
    margin-left: 39px;
}

.titulo1 {
    max-width: 500px;
    margin-top: 125px;
    margin-left: ;

}

h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 69px;
    color: #FF4081;

}

h2 {
    font-weight: 400;
    font-size: 27px;
    line-height: 31px;
    color: #555555;
    width: 462px;
    height: 62px;

    margin-top: 19px;
}

.sabermais {
    margin-top: 35px;
    padding: 8.5px;
    text-align: center;
    font-weight: 400;
    font-size: 26px;
    line-height: 31px;
    border: 2px solid #FF4081;
    border-radius: 62px;
    color: #FF4081;
    width: 268px;
}

/* SEGUNDA SEÇÃO DE CONTEÚDO */

.flexcontainer2 {
    padding: 109px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    background: #F7F7F7;
    text-align: center;

}

.flexcontainer2 h4 {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    color: #FF4081;
    margin-top: 43px;

}

.flexcontainer2 span {
    display: flex;
    justify-content: space-between;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    width: 300px;
    color: #000000;

}

.imgchess span {
    margin-left: 2vw;

}

.imgchess {
    text-align: center;
}